.App {
  text-align: center;
}

#recipeName {
  font-family: 'Cormorant Garamond', serif;
}

/** RecipeCard **/

.RecipeCard {
  float: left;
  margin: 10px;
  width: 280px;
  height: 280px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.RecipeCard:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-title {
  font-family: 'Cormorant Garamond', serif;
  font-size: 60px;
  font-weight: 300;
  line-height: 60px;
  margin: 10px 0;
}

.card-read {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 6px;
  margin: 5px 0 20px;
  position: relative;
  text-align: right;
  text-transform: uppercase;
}

.card-read:after {
  background-color: #b8bddd;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  top: 9px;
  width: 60%;
}

/** RecipeForm **/

input[type=text] {
margin-bottom: 20px;
margin-top: 10px;
width:100%;
padding: 15px;
border-radius:5px;
}

button[type=submit], select {
margin-bottom: 20px;
width:100%;
padding: 15px;
border-radius:5px;
font-size:15px;
cursor:pointer;
}

textarea {
width:100%;
padding: 15px;
margin-top: 10px;
border-radius:5px;
margin-bottom: 20px;
resize:none;
}
input[type=text]:focus,textarea:focus {
border-color: #4697e4;
}
